@media screen and (max-width: 480px) {
    #leftsidebar {width: 200px; float: left;}
    #main {margin-left: 216px;}
  }

  .image-container{
    width: 100%;
    position: relative;
  }

  .img1{
    order: 1;
    flex-shrink: 2;
    width: 100%;
    height: auto;
  }

  .content2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
    gap: 10px 20px;
    row-gap: 10px;
    column-gap: 20px;
    flex-shrink: 2;
  }

  .navbar {
    display: flex;
    flex-shrink: 2;
    justify-content: space-between;
    justify-content: space-evenly;
    align-items: center;
    background-color: #ede5e5;
    color: #000000;
    padding: 3px;
  }