body{
    background-color: #ede5e5;
} 
 
 /*life*/
 
 /* Navbar styles */
.navbar {
    display: flex;
    flex-shrink: 2;
    justify-content: space-between;
    justify-content: space-evenly;
    align-items: center;
    background-color: #ede5e5;
    color: #000000;
    padding: 3px;
  }

 /* Logo styles */
 .navbar__logo {
    font-size: 60px;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: -10px;
    margin-bottom: 32px;
    margin-top: 50;
  }

  /* Nav links styles */
  .navbar__nav {
    display: flex;
    align-items: center;
    font-size: 20px;
    margin-bottom: 20px;
  }

  .navbar__nav a {
    color: #000000;
    text-decoration: none;
    margin: 0 10px;
  }

  .wrapper{
    width: 80%;
    justify-content: center;
    text-align: center;
    margin: auto;
  }

  .News{
    background-color: black;
    padding: 25px;
    order: 2;
    text-align: left;
  }

  .Newsti{
    font-size: 30px;
    margin-bottom: 10%;
    /* padding: 25px; */
    color: orange;
    margin-top: 30px;
  }

  .newsinfoA{
    font-size: 25px;
    margin-left: 7%;
    margin-right: 6%;
    margin-bottom: 5%;
    color: white;
  }

  .newsinfoAb{
    color: white;
    margin-left: 7%;
    margin-right: 3px;
    margin-bottom: 7%;
    font-size: 15px;
  }
  
  .img1{
    order: 1;
    flex-shrink: 2;
  }
  .content2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
    gap: 10px 20px;
    row-gap: 10px;
    column-gap: 20px;
    flex-shrink: 2;
  }

  .newsinfoB{
    color: white;
    font-size: 25px;
    margin-left: 7%;
    margin-right: 6%;
    margin-bottom: 5%;
  }
